/*
******************
* GENERAL
******************
*/
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("ProximaNovaT-Thin.eot");
  src: url("ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
    url("ProximaNovaT-Thin.woff") format("woff"),
    url("ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: "Proxima Nova Thin", Tahoma, sans-serif !important;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
* {
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
}
a {
  font-size: 1rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
button {
  background-color: rgb(241, 72, 72);
  color: white;
  border-radius: 25px;
  margin-top: 30px;
  padding: 15px 20px;
  border: none;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  cursor: pointer;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .btn-transform:hover {
    transform: translateY(-3px);
    box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.12);
    z-index: 1;
  }
}
main {
  margin-top: 66px;
}
.padding_15 {
  padding: 15px;
}
/*
  ******************
  * HEADER
  ******************
  */
.navtop .selected {
  color: rgb(241, 72, 72);
  font-weight: 700;
}
.navtop a {
  text-decoration: none;
  color: #808080;
  width: 100%;
  height: 100%;
}
.logo-black {
  float: left;
  margin-left: 15px;
}
.menu-link,
label {
  display: none;
}
@media (min-width: 768px) {
  header {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 4;
    line-height: 66px;
  }
  .navtop {
    float: right;
  }
  .navtop a {
    display: inline-block;
  }
  .first-line-nav,
  .second-line-nav,
  .third-line-nav {
    display: inline-block;
  }
  .first-line-nav {
    padding-right: 15px;
    height: 100%;
    cursor: pointer;
  }
  .second-line-nav {
    width: 33.333%;
  }
  .third-line-nav {
    width: 50%;
  }
  .second-line-nav,
  .third-line-nav {
    line-height: 132px;
    text-align: center;
    text-transform: uppercase;
  }
  .first-line-nav > a:hover {
    color: rgb(241, 72, 72);
  }
  .navtop > ul > li > ul,
  .navtop ul ul ul {
    position: absolute;
    top: 66px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 132px;
    transform: scale(1, 0);
    transition: transform 0.2s;
    opacity: 0.99;
    font-size: 0;
    background: white;
  }
  .navtop > ul > li > ul {
    top: 66px;
  }
  .navtop ul ul ul {
    top: 132px;
  }
  .navtop li:hover > ul {
    transform: scale(1, 1);
  }
  nav ul ul li {
    text-transform: uppercase;
  }
  .navtop ul li ul li a:hover {
    background: rgb(241, 72, 72);
    color: white;
  }
}
@media (max-width: 767px) {
  header {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 4;
    line-height: 66px;
  }
  .navtop {
    display: none;
    width: 100%;
    height: auto;
    background: white;
    margin-top: 66px;
    box-shadow: 0px 10px 20px #808080;
  }
  .navtop li {
    margin-left: 30px;
    line-height: 1.9;
  }
  .navtop ul li a:hover {
    color: rgb(241, 72, 72);
  }
  .navtop ul li ul li::before {
    content: "- ";
    color: #808080;
  }
  .menu-link ~ .icon-menu {
    font-size: 24px;
    display: block;
    float: right;
    margin-top: 18px;
    margin-right: 15px;
  }
  .menu-link ~ .icon-cross {
    display: none;
  }
  .menu-link:checked ~ .icon-menu {
    display: none;
  }
  .menu-link:checked ~ .icon-cross {
    display: block;
    font-size: 24px;
    float: right;
    margin-top: 18px;
    margin-right: 15px;
  }
  .menu-link:checked ~ .navtop {
    display: block;
  }
  .icon-menu:hover,
  .icon-cross:hover {
    color: rgb(241, 72, 72);
  }
}
/*
******************
* top-banner
******************
*/
.top-banner {
  position: relative;
  background: url(comigo/other/homepage-featured-new-1920x745.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 38.79vw;
  text-align: center;
}
.top-banner::before {
  content: " ";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.top-banner-content {
  width: 80%;
  left: 10%;
  text-align: center;
  display: inline-block;
  vertical-align: middle;
}
@media (max-width: 768px) {
  .top-banner {
    height: 500px;
  }
}
/*
******************
* WHY
******************
*/
.why {
  background: white;
  text-align: center;
  width: 100%;
  padding: 10vw 15px;
}
.why h2 {
  color: #696969;
  text-transform: uppercase;
}
.why h4 {
  color: #808080;
  letter-spacing: 0.1px;
}
/*
******************
* VIDEOS
******************
*/
.videoplace {
  position: relative;
  width: 100%;
  height: 39.88vw;
  min-height: 400px;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.engage {
  position: absolute;
  width: 15%;
  top: 60px;
  left: 10%;
  z-index: 3;
}
.engage h4,
.engage h5 {
  line-height: 1.5;
}
.engage h4 {
  text-transform: uppercase;
}
.engage h5 {
  margin-top: 20px;
  text-transform: uppercase;
}
.navideo {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  text-transform: uppercase;
}
.navideo h4 {
  font-size: 20px;
  margin-left: 550px;
}
.navideo ul {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 39.88vw;
}
.navideo a {
  text-decoration: none;
  color: #808080;
  line-height: 2.5;
  margin-left: 43vw;
}
.navideo a:hover {
  color: rgb(241, 72, 72);
}
.videosection video {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}
.video-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
}
.video-wrapper::after {
  content: "";
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.8;
}
.text-img-wrapper {
  z-index: 3;
  position: absolute;
  top: 60px;
  right: 80px;
  width: 25%;
  text-align: center;
}
.videosection img {
  margin-top: 15px;
  width: 90%;
}
.videosection h5 {
  text-align: center;
}
.show {
  display: block;
}
.navideo li:not(.show) figure {
  display: none;
}
.navideo ul li:hover ~ .show figure {
  display: none;
}
.navideo ul li:hover figure {
  display: block;
}
@media (max-width: 1000px) {
  .navideo ul {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .videoplace {
    height: 810px;
  }
  .video-wrapper video {
    display: none;
  }
  .engage,
  .text-img-wrapper {
    width: 100%;
    right: 0;
  }
  .engage {
    left: 0;
    padding-left: 15px;
  }
  .text-img-wrapper {
    top: 350px;
  }
  .videosection img {
    width: 40%;
  }
  .navideo {
    top: 80px;
  }
  .navideo a {
    margin-left: 15px;
  }
}
/*
******************
* BOXES
******************
*/
.container-for-boxes {
  width: 100%;
}
.box1 {
  width: 50%;
  height: 50vw;
  float: left;
  background-image: url(comigo/other/ic_EI_cloud_2_home_page.png),
    url(comigo/other/home-tv-service-bg1.png);
  background-position: 35% 15%;
  background-size: 50% auto, cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
.box2 {
  width: 50%;
  height: 50vw;
  float: left;
  background-image: url(comigo/other/ic-stb-screens.png),
    url(comigo/other/home-tv-service-bg2.png);
  background-position: 13% 15%;
  background-size: 40% auto, cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
.box1 button {
  position: absolute;
  background: white;
  color: rgb(241, 72, 72);
  border-radius: 25px;
  bottom: 2rem;
  left: 15%;
}
.box2 button {
  position: absolute;
  bottom: 2rem;
  left: 15%;
}
.box1 .boxtext,
.box2 .boxtext {
  position: absolute;
  bottom: 6.6rem;
  left: 15%;
  text-transform: uppercase;
}
.box2 h2 {
  color: #505050;
}
.box2 h5 {
  color: #808080;
}
@media (max-width: 767px) {
  .box1,
  .box2 {
    float: none;
    width: 100%;
    height: 500px;
  }
}
/*
******************
* WHO
******************
*/
.who-we {
  background: white;
  width: 100%;
  height: 50vw;
  text-align: center;
  overflow-x: hidden;
}
.whotext {
  width: 40%;
  height: 100%;
  background: white;
  vertical-align: middle;
  text-align: center;
  text-transform: uppercase;
}
.whoimg {
  width: 60%;
  height: 100%;
  vertical-align: middle;
}
.whoimg img {
  width: 98%;
  margin-left: 10%;
}
.who-we h2,
.who-we h5 {
  font-weight: 100;
}
.who-we h2 {
  color: #505050;
  line-height: 1;
}
.who-we h5 {
  color: #808080;
}
@media (max-width: 767px) {
  .who-we {
    height: auto;
    display: block;
    padding: 15px;
  }
  .whotext,
  .whoimg {
    width: 100%;
    display: block;
    padding: 30px 0;
  }
}
/*
******************
* mosaic-social
******************
*/
.mosaic {
  width: 100%;
  height: 40vw;
  position: relative;
  clear: both;
}
.mosaic-left {
  background: #d3d3d3;
  width: 60%;
  height: 50%;
  float: left;
}
.right {
  background: #dcdcdc;
  width: 40%;
  height: 100%;
  float: right;
  padding: 15px 0 0 15px;
  position: relative;
}
.right img {
  width: 100%;
}
.right h2 {
  color: #505050;
}
.topleft {
  background: #f9f6fc;
  width: 66.66%;
  height: 100%;
  float: left;
  position: relative;
}
.topleft h2 {
  color: #505050;
}
.topright {
  background: rgb(241, 72, 72);
  width: 33.33%;
  height: 100%;
  float: left;
  text-align: center;
}
.topright h6 {
  margin-top: 10px;
}
.topright span {
  color: white;
  font-size: 12vw;
  display: inline-block;
  height: 80%;
}
.bottomleft {
  background: #ebe8e8;
  width: 33.33%;
  height: 100%;
  float: left;
}
.bottomleft table {
  width: 100%;
  height: 100%;
}
.bottomleft table td {
  padding: 0.5rem;
}
.bottomleft table tr:first-child td:first-child {
  vertical-align: bottom;
  text-align: right;
}
.bottomleft table tr:first-child td:nth-child(2) {
  vertical-align: bottom;
  text-align: left;
}
.bottomleft table tr:nth-child(2) td:nth-child(1) {
  vertical-align: top;
  text-align: right;
}
.bottomleft table tr:nth-child(2) td:nth-child(2) {
  vertical-align: top;
  text-align: left;
}
.bottomleft button {
  margin-top: 0;
  display: inline;
  border-radius: 50%;
  padding: 2vw;
  color: white;
}
.bottomright {
  background: #d3d3d3;
  width: 66.66%;
  height: 100%;
  float: left;
}
.move-to-center {
  text-align: center;
}
.bottomright h6 {
  color: #808080;
}
.bottomright img {
  width: 100%;
}
.bottomleft .icon-facebook,
.bottomleft .icon-twitter,
.bottomleft .icon-linkedin2,
.bottomleft .icon-youtube {
  font-size: 2vw;
}
.bottomright,
.right,
.topleft {
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .topleft h2 {
    position: absolute;
    bottom: 15px;
    left: 15px;
  }
  .right img {
    position: absolute;
    bottom: 0;
  }
  .bottomright:hover {
    z-index: 3;
    box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
  }
  .right:hover {
    z-index: 3;
    transform: scale(1.02);
    box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
  }
  .bottomright{
    position: relative;
  }
  .wrapper-in-bottomright {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .mosaic-left {
    width: 100%;
  }
  .mosaic {
    height: auto;
  }
  .mosaic-left,
  .right,
  .topleft,
  .topright,
  .bottomright,
  .bottomleft {
    float: none;
    width: 100%;
    height: auto;
  }
  .topleft h2,
  .right h2 {
    font-size: 3.5rem;
  }
  .topright span {
    font-size: 10rem;
  }
  .topright h6 {
    font-size: 2rem;
    text-align: center;
    margin-top: 15px;
  }
  .bottomleft button {
    padding: 1.5rem;
  }
  .bottomleft .icon-facebook,
  .bottomleft .icon-twitter,
  .bottomleft .icon-linkedin2,
  .bottomleft .icon-youtube {
    font-size: 2.5rem;
  }
  .wrapper-in-bottomright{
    padding: 15px;
  }
}
/*
******************
* BLOG
******************
*/
.blog {
  width: 100%;
  height: 35.8vw;
  top: 0;
  background: black;
}
.shadow {
  position: absolute;
  background: black;
  width: 16.6666667%;
  height: 470px;
  opacity: 0.8;
  top: 0;
  z-index: 1;
}
.red {
  background: rgb(241, 72, 72);
  width: 16.6666667%;
  height: 100%;
  float: left;
  padding: 15px;
  position: relative;
}
.title-for-blog {
  position: absolute;
  bottom: 15px;
  text-transform: uppercase;
}
.hidden {
  width: 100%;
  height: auto;
  bottom: -70px;
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  position: absolute;
}
.text {
  width: 100%;
  padding: 10px 15px;
}
.read {
  background: rgb(241, 72, 72);
  width: 100%;
  height: 70px;
  box-shadow: none;
  margin-top: 0px;
  font-size: 1rem;
  border-radius: 0;
}
.one {
  background: url(comigo/blog/one.png) no-repeat;
}
.two {
  background: url(comigo/blog/two.jpeg) no-repeat;
}
.three {
  background: url(comigo/blog/three.jpg) no-repeat;
}
.four {
  background: url(comigo/blog/four.jpeg) no-repeat;
}
.five {
  background: url(comigo/blog/five.jpeg) no-repeat;
}
.one,
.two,
.three,
.four,
.five {
  background-position: center;
  width: 16.6666667%;
  height: 100%;
  float: left;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: initial;
  overflow: hidden;
  box-shadow: 0px 0px 300px 50px black inset;
  background-size: cover;
}
@media (min-width: 768px) {
  .one:hover,
  .two:hover,
  .three:hover,
  .four:hover,
  .five:hover {
    z-index: 2;
    box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  .one:hover .text,
  .two:hover .text,
  .three:hover .text,
  .four:hover .text,
  .five:hover .text {
    box-shadow: inset rgba(0, 0, 0, 0.6) 170px 100px 40px 10px,
      rgba(0, 0, 0, 0.6) 0 0px 24px 20px;
  }
  .one:hover .hidden,
  .two:hover .hidden,
  .three:hover .hidden,
  .four:hover .hidden,
  .five:hover .hidden {
    transform: translateY(-70px);
  }
}
@media (max-width: 767px) {
  .blog {
    height: 2000px;
  }
  .one,
  .two,
  .three,
  .four,
  .five {
    float: none;
    width: 100%;
    height: 16.66%;
  }
  .red {
    float: none;
    width: 100%;
    height: 16.66%;
  }
  .title-for-blog h1 {
    font-size: 4rem;
  }
  .hidden {
    bottom: 0;
  }
}
/*
******************
* FOOTER
******************
*/
.footer-start {
  top: 0px;
  background: #292929;
  width: 100%;
  height: 250px;
  padding-top: 40px;
  text-transform: uppercase;
}
.logowhite {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
.menuone,
.menutwo,
.menuthree {
  width: 25%;
  height: 100%;
  float: left;
  text-align: center;
}
.container-for-text {
  display: inline-block;
  text-align: left;
}
.container-for-text > li,
.container-for-text > li,
.container-for-text > li,
.logowhite {
  padding-top: 20px;
  list-style-type: none;
  text-align: left;
}
.bottomsmall {
  width: 100%;
  height: 50%;
  margin-top: 15px;
}
.bottomsmall li a {
  color: #808080;
  padding-top: 10px;
  font-size: 0.75rem;
}
.bottomsmall li a:hover {
  color: rgb(241, 72, 72);
}
/*
******************
* FOOTER END
******************
*/
.footer-end {
  background: #191919;
  width: 100%;
  height: 50px;
}
.rights {
  height: 100%;
  float: left;
}
.rights h6 {
  font-size: 0.55rem;
}
.nav-footer-end {
  height: 100%;
  float: left;
}
.develop {
  height: 100%;
  float: left;
}
.social {
  float: right;
}
.footer-end {
  color: #808080;
  letter-spacing: 1px;
}
.rights {
  width: 25%;
}
.rights h6 {
  color: #808080;
}
.nav-footer-end li {
  display: inline;
  color: #808080;
}
.nav-footer-end li a {
  color: #808080;
}
.nav-footer-end li::before {
  content: " | ";
  margin: 0 10px;
}
.social button {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  margin-right: 4px;
  border: 1px solid #808080;
  margin-top: 12px;
}
.social a {
  text-decoration: none;
}
.social span:hover,
.nav-footer-end li a:hover {
  color: white;
}
.social span:hover {
  transform: none;
}
.social .icon-facebook,
.social .icon-twitter,
.social .icon-linkedin2,
.social .icon-youtube {
  font-size: 1rem;
  color: #808080;
  border: solid 1px;
  border-radius: 50%;
  padding: 3px;
}
@media (min-width: 768px) {
  .text-block-footer {
    display: inline;
    vertical-align: middle;
    width: 100%;
    line-height: 50px;
  }
  .footer-end {
    padding: 0 15px;
  }
}
@media (max-width: 767px) {
  .footer-start {
    height: auto;
    padding-left: 15px;
  }
  .menuone,
  .menutwo,
  .menuthree,
  .logowhite {
    width: 100%;
    float: none;
  }
  .footer-end {
    height: auto;
  }
  .rights,
  .nav-footer-end,
  .social {
    float: none;
    width: 100%;
    text-align: center;
  }
  .nav-footer-end,
  .social {
    padding-top: 15px;
  }
  .menuone,
  .menutwo,
  .menuthree {
    padding-left: 0;
    text-align: left;
  }
  .logowhite {
    text-align: center;
    padding-bottom: 2rem;
  }
}
