/*
******************
* GENERAL
******************
*/
@font-face {
  font-family: "Proxima Nova Thin";
  src: url("ProximaNovaT-Thin.eot");
  src: url("ProximaNovaT-Thin.eot?#iefix") format("embedded-opentype"),
    url("ProximaNovaT-Thin.woff") format("woff"),
    url("ProximaNovaT-Thin.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6,
a,
li {
  font-family: "Proxima Nova Thin", Tahoma, sans-serif !important;
  color: white;
  text-decoration: none;
  font-weight: 100;
}
* {
  box-sizing: border-box;
}
a {
  font-size: 1rem;
}
h1 {
  font-size: 2.2rem;
}
h2 {
  font-size: 1.8rem;
}
h3 {
  font-size: 1.6rem;
}
h4 {
  font-size: 1.2rem;
}
h5 {
  font-size: 1rem;
}
h6 {
  font-size: 0.75rem;
}
button {
  background-color: rgb(241, 72, 72);
  color: white;
  border-radius: 25px;
  margin-top: 30px;
  padding: 15px 20px;
  border: none;
  transition-property: transform;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  cursor: pointer;
}
.btn-transform:hover {
  transform: translateY(-3px);
  box-shadow: 0px 7px 10px 5px rgba(0, 0, 0, 0.12);
  z-index: 1;
}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.padding_15 {
  padding: 15px;
}
/*
  ******************
  * HEADER
  ******************
  */
.navtop .selected {
  color: rgb(241, 72, 72);
  font-weight: 700;
}
.navtop a {
  text-decoration: none;
  color: #808080;
  width: 100%;
  height: 100%;
}
#logo-black {
  float: left;
  margin-left: 15px;
}
.menu-link,
label {
  display: none;
}
@media (min-width: 768px) {
  #header {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 4;
    line-height: 66px;
  }
  .navtop {
    float: right;
  }
  .navtop a {
    display: inline-block;
  }
  .first-line-nav,
  .second-line-nav,
  .third-line-nav {
    display: inline-block;
  }
  .first-line-nav {
    padding-right: 15px;
    height: 100%;
    cursor: pointer;
  }
  .second-line-nav{
    width: 33.333%;
  }
  .third-line-nav{
    width: 50%;
  } 
  .second-line-nav,
  .third-line-nav {
    line-height: 132px;
    text-align: center;
  }
  .first-line-nav >a:hover{
    color: rgb(241, 72, 72);
  }
  .navtop > ul > li > ul, .navtop ul ul ul {
    position: absolute;
    top: 66px;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 132px;
    transform: scale(1, 0);
    transition: transform 0.2s;
    opacity: 0.99;
    font-size: 0;
    background: white;
  }
  .navtop > ul > li > ul{
    top: 66px; 
  }
  .navtop ul ul ul {
    top: 132px; 
  }
  .navtop li:hover > ul {
    transform: scale(1, 1);
  }
  nav ul ul li {
    text-transform: uppercase;
  }
  nav ul li ul li a:hover {
    background: rgb(241, 72, 72);
    color: white;
  }
}
@media (max-width: 767px) {
  #header {
    width: 100%;
    height: 66px;
    position: fixed;
    top: 0;
    background: white;
    z-index: 4;
    line-height: 66px;
  }
  .navtop {
    display: none;
    width: 100%;
    height: auto;
    background: white;
    margin-top: 66px;
    box-shadow: 0px 10px 20px #808080;
  }
  .navtop li {
    margin-left: 30px;
    line-height: 1.9;
  }
  .navtop ul li a:hover{
    color: rgb(241, 72, 72);
  }
  .navtop ul li ul li::before {
    content: "- ";
    color: #808080;
  }
  .menu-link ~ .icon-menu {
    font-size: 24px;
    display: block;
    float: right;
    margin-top: 18px;
    margin-right: 15px;
  }
  .menu-link ~ .icon-cross {
    display: none;
  }
  .menu-link:checked ~ .icon-menu {
    display: none;
  }
  .menu-link:checked ~ .icon-cross {
    display: block;
    font-size: 24px;
    float: right;
    margin-top: 18px;
    margin-right: 15px;
  }
  .menu-link:checked ~ .navtop {
    display: block;
  }
  .icon-menu:hover,
  .icon-cross:hover {
    color: rgb(241, 72, 72);
  }
}
/*
******************
* CINEMA
******************
*/
#top-banner {
  position: relative;
  background: url(comigo/other/homepage-featured-new-1920x745.jpg) no-repeat;
  background-size: cover;
  width: 100%;
  height: 38.79vw;
  min-height: 500px;
  text-align: center;
  margin-top: 66px;
}
#top-banner div {
  position: absolute;
  top: 50%;
  height: 150px;
  width: 80%;
  left: 10%;
  text-align: center;
  margin-top: -75px;
}
/*
******************
* WHY
******************
*/
#why {
  background: white;
  text-align: center;
  width: 100%;
  padding: 10vw 0;
}
#why:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#why h2 {
  color: #696969;
}
#why h4 {
  color: #808080;
  letter-spacing: 0.1px;
}
/*
******************
* VIDEOS
******************
*/
#videoplace {
  position: relative;
  width: 100%;
  height: 39.88vw;
  min-height: 400px;
  background: black;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
#engage {
  position: absolute;
  width: 15%;
  top: 60px;
  left: 10%;
  z-index: 3;
}
#engage h4,
#engage h5 {
  line-height: 1.5;
}
#engage h4 {
  text-transform: uppercase;
}
#engage h5 {
  margin-top: 20px;
  text-transform: uppercase;
}
.navideo {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 3;
  text-transform: uppercase;
}
.navideo h4 {
  font-size: 20px;
  margin-left: 550px;
}
.navideo ul {
  display: table-cell;
  vertical-align: middle;
  width: 100vw;
  height: 39.88vw;
}
.navideo a {
  text-decoration: none;
  color: #808080;
  line-height: 2.5;
  margin-left: 43vw;
}
.navideo a:hover {
  color: rgb(241, 72, 72);
}
.videosection video {
  position: absolute;
  height: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
}
.video-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  right: 0;
  top: 0;
  left: 0;
  z-index: -1;
}
.video-wrapper::after {
  content: "";
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  bottom: 0;
  right: 0;
  background: black;
  opacity: 0.8;
}
.text-img-wrapper {
  z-index: 3;
  position: absolute;
  top: 60px;
  right: 80px;
  width: 25%;
  text-align: center;
}
.videosection img {
  margin-top: 15px;
  width: 90%;
}
.videosection h5 {
  text-align: center;
}
.show {
  display: block;
}
.navideo li:not(.show) figure {
  display: none;
}
.navideo ul li:hover ~ .show figure {
  display: none;
}
.navideo ul li:hover figure {
  display: block;
}
@media (max-width: 1000px) {
  .navideo ul {
    height: 400px;
  }
}
@media (max-width: 700px) {
  #videoplace {
    height: 800px;
  }
  .video-wrapper video{
    display: none;
  }
  #engage,
  .text-img-wrapper {
    width: 100%;
    right: 0;
  }
  #engage {
    left: 0;
    padding-left: 15px;
  }
  .text-img-wrapper {
    top: 350px;
  }
  .videosection img {
    width: 40%;
  }
  .navideo {
    top: 80px;
  }
  .navideo a {
    margin-left: 15px;
  }
}
/*
******************
* BOXES
******************
*/
#twobox {
  width: 100%;
}
#box1 {
  width: 50%;
  height: 50vw;
  float: left;
  background-image: url(comigo/other/ic_EI_cloud_2_home_page.png),
    url(comigo/other/home-tv-service-bg1.png);
  background-position: 35% 15%, 100% 100%;
  background-size: 50% auto, cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
#box2 {
  width: 50%;
  height: 50vw;
  float: left;
  background-image: url(comigo/other/ic-stb-screens.png),
    url(comigo/other/home-tv-service-bg2.png);
  background-position: 13% 15%, 100% 100%;
  background-size: 40% auto, cover;
  background-repeat: no-repeat, no-repeat;
  position: relative;
}
#box1 button {
  position: absolute;
  background: white;
  color: rgb(241, 72, 72);
  border-radius: 25px;
  bottom: 10%;
  left: 22%;
}
#box2 button {
  position: absolute;
  bottom: 10%;
  left: 7%;
}
#box1 .boxtext {
  position: absolute;
  bottom: 26%;
  left: 22%;
}
#box2 .boxtext {
  position: absolute;
  bottom: 26%;
  left: 7%;
}
#twobox h2 {
  font-size: 34px;
  font-weight: 100;
}
#twobox h5 {
  font-weight: 100;
}
#box2 h2 {
  color: #505050;
}
#box2 h5 {
  color: #808080;
}
@media (max-width: 767px) {
  #box1,
  #box2 {
    float: none;
    width: 100%;
    height: 500px;
  }
}
/*
******************
* WHO
******************
*/
#who {
  background: white;
  width: 100%;
  min-height: 670px;
  clear: both;
  position: relative;
  overflow: hidden;
}
.whotext {
  float: left;
  width: 40%;
  min-height: 670px;
  position: relative;
  background: white;
}
.whoimg {
  float: right;
  width: 60%;
  min-height: 670px;
  position: relative;
  background: white url(comigo/other/screen_whos_on.jpg) no-repeat;
  background-size: 97%;
  background-position-x: 370%;
  background-position-y: 40%;
}
#who button {
  position: absolute;
  left: 175px;
  bottom: 150px;
}
#who h2,
#who h5 {
  position: absolute;
  font-weight: 100;
  left: 150px;
}
#who h2 {
  top: 150px;
  color: #505050;
  line-height: 1;
}
#who h5 {
  bottom: 220px;
  color: #808080;
}
@media (max-width: 767px) {
  .whotext,
  .whoimg {
    float: none;
    width: 100%;
  }
}
/*
******************
* about-us-social
******************
*/
#about-us-social {
  width: 100%;
  height: 40vw;
  position: relative;
}
#about-us-social h2 {
  color: #505050;
  padding-top: 15px;
  padding-left: 15px;
}
.left {
  background: #d3d3d3;
  width: 60%;
  height: 100%;
  float: left;
}
.right {
  background: #dcdcdc;
  width: 40%;
  height: 100%;
  float: right;
}
.right img {
  margin-top: 20px;
  margin-left: 41px;
  width: 80%;
}
.right:hover {
  z-index: 3;
  transform: scale(1.02);
  box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
}
.topleft {
  background: #f9f6fc;
  width: 66.66%;
  height: 50%;
  float: left;
}
.topright {
  background: rgb(241, 72, 72);
  width: 33.33%;
  height: 50%;
  float: left;
  text-align: center;
}
.topright h6{
  text-align: left;
  margin-top: 10px;
}
.topright span {
  color: white;
  font-size: 12vw;
}
.bottomleft {
  background: #ebe8e8;
  width: 33.33%;
  height: 50%;
  float: left;
}
.bottomleft table {
  width: 100%;
  height: 100%;
}
.bottomleft table td {
  padding: 1vw;
}
.bottomleft table tr:first-child td:first-child {
  vertical-align: bottom;
  text-align: right;
}
.bottomleft table tr:first-child td:nth-child(2) {
  vertical-align: bottom;
  text-align: left;
}
.bottomleft table tr:nth-child(2) td:nth-child(1) {
  vertical-align: top;
  text-align: right;
}
.bottomleft table tr:nth-child(2) td:nth-child(2) {
  vertical-align: top;
  text-align: left;
}
.bottomleft button {
  margin-top: 0;
  display: inline;
  border-radius: 50%;
  padding: 2vw;
  color: white;
}
.bottomright {
  background: #d3d3d3;
  width: 66.66%;
  height: 50%;
  float: left;
}
.move-to-center {
  text-align: center;
}
.bottomright:hover {
  z-index: 3;
  box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
  transform: scale(1.02);
}
.bottomright h6 {
  color: #808080;
}
.bottomright img {
  width: 100%;
}
.bottomleft .icon-facebook,
.bottomleft .icon-twitter,
.bottomleft .icon-linkedin2,
.bottomleft .icon-youtube {
  font-size: 2vw;
}
.icon-download3 {
  color: white;
}
@media (max-width: 700px) {
  #about-us-social {
    height: auto;
  }
  .left,
  .right,
  .topleft,
  .topright,
  .bottomright,
  .bottomleft {
    float: none;
    width: 100%;
    height: auto;
  }
}
/*
******************
* BLOG
******************
*/
#blog {
  width: 100%;
  height: 35.8vw;
  clear: both;
  top: 0;
  background: black;
}
.shadow {
  position: absolute;
  background: black;
  width: 16.6666667%;
  height: 470px;
  opacity: 0.8;
  top: 0;
  z-index: 1;
}
#red {
  background: rgb(241, 72, 72);
  width: 16.6666667%;
  height: 100%;
  float: left;
  padding: 20px;
  position: relative;
}
#title-for-blog {
  position: absolute;
  bottom: 10px;
}
.hidden {
  width: 100%;
  height: 40%;
  top: 80%;
  transition-property: transform;
  transition-duration: 600ms;
  transition-timing-function: ease-in-out;
  transition-delay: initial;
  position: absolute;
}
.text {
  width: 100%;
  height: 50%;
  position: relative;
}
.text h5 {
  position: absolute;
  bottom: 10px;
  right: 15px;
  left: 15px;
}
.read {
  background: rgb(241, 72, 72);
  width: 100%;
  height: 50%;
  box-shadow: none;
  margin-top: 0px;
  font-size: 1rem;
  border-radius: 0;
}
.one {
  background: url(comigo/blog/one.png) no-repeat;
}
.two {
  background: url(comigo/blog/two.jpeg) no-repeat;
}
.three {
  background: url(comigo/blog/three.jpg) no-repeat;
}
.four {
  background: url(comigo/blog/four.jpeg) no-repeat;
}
.five {
  background: url(comigo/blog/five.jpeg) no-repeat;
}
.one,
.two,
.three,
.four,
.five {
  background-position: center;
  width: 16.6666667%;
  height: 100%;
  float: left;
  position: relative;
  transition-property: all;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  transition-delay: initial;
  overflow: hidden;
  box-shadow: 0px 0px 300px 50px black inset;
}
@media (min-width: 768px) {
  .one:hover,
  .two:hover,
  .three:hover,
  .four:hover,
  .five:hover {
    z-index: 2;
    box-shadow: 0px -2px 24px 2px rgba(0, 0, 0, 0.2);
    transform: scale(1.1);
  }
  .one:hover .read,
  .two:hover .read,
  .three:hover .read,
  .four:hover .read,
  .five:hover .read {
    box-shadow: -6px -90px 100px 25px black;
  }
  .one:hover .hidden,
  .two:hover .hidden,
  .three:hover .hidden,
  .four:hover .hidden,
  .five:hover .hidden {
    transform: translateY(-50%);
  }
}
@media (max-width: 767px) {
  #blog {
    height: auto;
  }
  .one,
  .two,
  .three,
  .four,
  .five {
    float: none;
    width: 100%;
    height: 50vh;
  }
  #red {
    float: none;
    width: 100%;
    height: 200px;
  }
  #title-for-blog h1 {
    font-size: 4rem;
  }
  .hidden {
    top: 60%;
  }
}
/*
******************
* FOOTER
******************
*/
.gray {
  top: 0px;
  background: #292929;
  width: 100%;
  height: 300px;
  clear: both;
  padding: 15px;
}
#bottomnav {
  width: 70%;
  height: 100%;
  float: left;
  clear: both;
}
#logowhite {
  width: 30%;
  height: 100%;
  float: left;
}
#menuone,
#menutwo,
#menuthree {
  width: 33%;
  height: 100%;
  float: left;
}
#menuone h5,
#menutwo h5,
#menuthree h5 {
  padding-top: 20px;
}
#menuone h5:first-child,
#menutwo h5:first-child,
#menuthree h5:first-child {
  padding-top: 50px;
}
.bottomsmall {
  width: 100%;
  height: 50%;
  margin-top: 15px;
}
.bottomsmall li a {
  color: #808080;
  padding-top: 10px;
}
.bottomsmall li a:hover {
  color: rgb(241, 72, 72);
}
#logowhite img {
  margin-top: 50px;
}
#black {
  background: #191919;
  width: 100%;
  height: 50px;
  clear: both;
}
#rights {
  height: 100%;
  float: left;
}
#bottomblack {
  height: 100%;
  float: left;
}
.develop {
  height: 100%;
  float: left;
}
#social {
  height: 100%;
  float: right;
  position: relative;
}
#black {
  color: #808080;
  letter-spacing: 1px;
}
#black:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
#text-block-footer {
  display: inline-block;
  vertical-align: middle;
  width: 99%; /* ???????????*/
}
#rights {
  width: 25%;
}
#rights h6 {
  color: #808080;
}
#bottomblack {
  width: 50%;
}
#bottomblack ul li {
  display: inline;
  margin-right: 15px;
  color: #808080;
}
#bottomblack ul li a {
  color: #808080;
}
#bottomblack li::before {
  content: " | ";
}
#social button {
  padding-right: 5px;
  padding-left: 5px;
  float: left;
  margin-right: 4px;
  border: 1px solid #808080;
  margin-top: 12px;
}
#social a {
  text-decoration: none;
}
#social span:hover,
#bottomblack ul li a:hover {
  color: white;
}
#social span:hover {
  transform: none;
}
#social .icon-facebook,
#social .icon-twitter,
#social .icon-linkedin2,
#social .icon-youtube {
  font-size: 1rem;
  color: #808080;
  border: solid 1px;
  border-radius: 50%;
  padding: 3px;
}
@media (max-width: 767px) {
  .gray {
    height: auto;
  }
  #menuone,
  #menutwo,
  #menuthree,
  #logowhite {
    width: 100%;
    float: none;
  }
  #bottomnav {
    float: none;
  }
  #text-block-footer {
    width: 90%; /* ???????????*/
    margin-left: 5%;
  }
  #black {
    height: 200px;
  }
  #rights,
  #bottomblack,
  #social {
    float: none;
    width: 100%;
    margin-top: 15px;
    text-align: center;
  }
  #menuone,
  #menutwo,
  #menuthree {
    padding-left: 0;
  }
  #logowhite {
    text-align: center;
  }
  #logowhite img {
    width: 30%;
  }
}
