.header{
  display:flex;
  width: 100%;
  height: 66px;
  flex-wrap: wrap;  
  position: fixed;
  top:0;
  background: white;  
  z-index: 4;  
}  
.logo-black{   
  padding-top:20px;
  padding-left: 25px;
}
.navtop{
 flex: auto; 
 display: flex;
 flex-wrap: wrap;
 justify-content: flex-end;
 align-items:center; 
}
.navtop a{
  text-decoration: none;
  color: #808080;  
}
.navtop .selected {
  color:rgb(241, 72, 72);
  font-weight:700;
}

.navtop li{
  display:inline-flex;
  padding-right: 20px;  
  height:  100%;
  align-items:center;
  cursor: pointer;
}
 .navtop > ul {
   height:  100%;
   display: flex;    
   align-items:center;
}    
.navtop> ul> li> ul{
  position: absolute;
  display: flex;
  top: 66px;
  left: 0px;
  right: 0px;
  width: 100%;
  height: 132px;
  transform: scale(1, 0);
  transition: transform 0.2s;
  justify-content: center;
  align-items:center;
  background: white; 
  opacity: 0.99; 
  
}
.navtop li:hover >ul {
    transform: scale(1, 1);    
}

.navtop ul ul ul{
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    transform: scale(1, 0);
    transition: transform 0.2s;      
    display: flex;
    flex-grow: 1;  
    height: 132px;
    background: white;
    opacity: 0.99;
 }   

nav ul ul li {
    flex-basis: 33.33%;
    display: flex;
    justify-content: center;
    font-size: 30px;
}
.navtop ul ul ul li{
	 display: flex;
	 flex-basis: 50%;
	 justify-content: center;	
}

nav ul li ul a:hover{
  background: rgb(241, 72, 72);  
  
} 
nav ul li ul a:hover {
	color: white;
}

.show-menu {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	text-decoration: none;
	color: #fff;
	background: #19c589;
	text-align: center;
	padding: 10px 0;
	float: right;	
	display: none;
}
 input[type=checkbox]{
    display: none;
} 
 input[type=checkbox]:checked ~ .navtop {
    display: block;
}

@media screen and (max-width : 760px){
	.navtop {		
    display: none;
	}	
	.show-menu {
    display:block;
    position: absolute;
	right:0px;
	}     
    .navtop{   
    display: flex;
    flex-direction:column; 
    height:670px;
    position: absolute;
    left: 20px;
    top: 60px; 
    }      
    .navtop ul{
    display: flex;
    flex-direction:column;	
    align-items:flex-start; 	
    }
    .navtop li{    	
    display: flex;
    flex-direction:column;	


    }
    .navtop >ul>li:nth-child(1){    
     flex-basis: 10px;	
    }
    .navtop >ul>li:nth-child(2){
     flex-basis: 200px;; 	
    }
    .navtop >ul>li:nth-child(3){
     flex-basis: 40px;	
    }
    .navtop >ul>li:nth-child(4){
     flex-basis: 160px;; 	
    }
    .navtop >ul>li:nth-child(5){
     flex-basis: 40px;	
    }
    .navtop >ul>li:nth-child(6){
     flex-basis: 40px;	
    }   
    
    .navtop >ul>li>ul>li>ul>li:nth-child(1){    
     flex-basis: 80px;	
    }
    .navtop >ul>li>ul>li>ul>li:nth-child(2){    
     flex-basis: 80px;	
    }
    /*.navtop >ul>li:nth-child(2){
     flex-basis:1500px; 	
    }
    .navtop >ul>li>ul>li:nth-child(1){
     flex-basis:1000px; 	
    }
    .navtop >ul>li>ul>li:nth-child(2){
     flex-basis:1000px; 	
    }
    .navtop ul ul ul li{
    	flex-basis: 100%;
    }*/
    .navtop> ul> li> ul{    
    position: static; 
    transform: scale(1, 1); 	
    display: flex; 
    flex-direction:column; 


    }       
    .navtop >ul>li>ul>li>ul{
    position: static;
    transform: scale(1, 1);
    display: flex; 
    flex-direction:column;
    }    
    .navtop a{  
	text-decoration: none;
	color: #808080;
	font-size: 24px;
	line-height: 1.5;
    }    
    .navtop a:hover{
	color: rgb(241, 72, 72);
	background: white;
    }
}