.icon {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(sprite.svg);
}
.icon-download3 {
  width: 32px;
  height: 32px;
  background-position: 0 0;
}
.icon-facebook {
  width: 32px;
  height: 32px;
  background-position: -36px 0;
}
.icon-twitter {
  width: 32px;
  height: 32px;
  background-position: -72px 0;
}
.icon-youtube {
  width: 32px;
  height: 32px;
  background-position: -108px 0;
}
.icon-linkedin2 {
  width: 32px;
  height: 32px;
  background-position: -144px 0;
}

